<div class="o-grid o-grid--space o-grid--wrap">
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--x-small">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--small">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--large">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--x-large">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--x-small">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--small">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--large">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <figure class="c-avator c-avator--x-large">
      <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
    </figure>
  </div>
</div>
</code>
</pre>
</div>
