<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--primary">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--secondary">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--reverse">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--disabled">Badge</span>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--primary">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--secondary">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--reverse">Badge</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-badge c-badge--disabled">Badge</span>
  </div>
</div>
</code>
</pre>
</div>
