<ul class="c-breadcrumb">
  <li class="c-breadcrumb__item"><a href="" class="c-breadcrumb__link">HOME</a></li>
  <li class="c-breadcrumb__item"><a href="" class="c-breadcrumb__link">BREADCRUMB 1</a></li>
  <li class="c-breadcrumb__item"><a href="" class="c-breadcrumb__link">BREADCRUMB 2</a></li>
  <li class="c-breadcrumb__item"><span class="c-breadcrumb__link c-breadcrumb__link--active">BREADCRUMB 3</span></li>
</ul>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<ul class="c-breadcrumb">
  <li class="c-breadcrumb__item"><a href="" class="c-breadcrumb__link">HOME</a></li>
  <li class="c-breadcrumb__item"><a href="" class="c-breadcrumb__link">BREADCRUMB 1</a></li>
  <li class="c-breadcrumb__item"><a href="" class="c-breadcrumb__link">BREADCRUMB 2</a></li>
  <li class="c-breadcrumb__item"><span class="c-breadcrumb__link c-breadcrumb__link--active">BREADCRUMB 3</span></li>
</ul>
</code>
</pre>
</div>
