<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--primary">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--secondary">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--disabled">Button</a>
  </div>
</div>
<div class="o-grid o-grid--space u-padding-top-1">
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--full-width">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--primary c-button--full-width">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--secondary c-button--full-width">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--disabled c-button--full-width">Button</a>
  </div>
</div>
<div class="u-padding-top-1">
  <a href="" class="c-button c-button--full-width">Button</a>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--primary">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--secondary">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--disabled">Button</a>
  </div>
</div>
<div class="o-grid o-grid--space u-padding-top-1">
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--full-width">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--primary c-button--full-width">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--secondary c-button--full-width">Button</a>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <a href="" class="c-button c-button--disabled c-button--full-width">Button</a>
  </div>
</div>
<div class="u-padding-top-1">
  <a href="" class="c-button c-button--full-width">Button</a>
</div>
</code>
</pre>
</div>
