<div class="c-card">
  <div class="c-card__head">
    <h1 class="c-heading-5">card heading</h1>
  </div>
  <div class="c-card__body">
    <p>Aenean placerat tortor ut ante condimentum scelerisque.</p>
    <p>Mauris tristique massa eu leo blandit, quis consectetur dui gravida.</p>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="c-card">
  <div class="c-card__head">
    <h1 class="c-heading-5">card heading</h1>
  </div>
  <div class="c-card__body">
    <p>Aenean placerat tortor ut ante condimentum scelerisque.</p>
    <p>Mauris tristique massa eu leo blandit, quis consectetur dui gravida.</p>
  </div>
</div>
</code>
</pre>
</div>
