<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <label class="c-checkbox">
      <input type="checkbox" class="c-checkbox__input" />
      <span class="c-checkbox__check"></span>
      <span class="c-checkbox__label">CHECKBOX</span>
    </label>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <label class="c-checkbox c-checkbox--disabled">
      <input type="checkbox" class="c-checkbox__input" disabled checked />
      <span class="c-checkbox__check"></span>
      <span class="c-checkbox__label">CHECKBOX</span>
    </label>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <label class="c-checkbox">
      <input type="checkbox" class="c-checkbox__input" />
      <span class="c-checkbox__check"></span>
      <span class="c-checkbox__label">CHECKBOX</span>
    </label>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <label class="c-checkbox c-checkbox--disabled">
      <input type="checkbox" class="c-checkbox__input" disabled checked />
      <span class="c-checkbox__check"></span>
      <span class="c-checkbox__label">CHECKBOX</span>
    </label>
  </div>
</div>
</code>
</pre>
</div>
