<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space o-grid__column-3 u-background-base u-color-opposite">
    <div class="u-padding-1">1</div>
  </div>
  <div class="o-grid__column o-grid__column--space o-grid__column-3 u-background-base u-color-opposite">
    <div class="u-padding-1">1</div>
  </div>
  <div class="o-grid__column o-grid__column--space o-grid__column-3 u-background-base u-color-opposite">
    <div class="u-padding-1">1</div>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space o-grid__column-3 u-background-base u-color-opposite">
    <div class="u-padding-1">1</div>
  </div>
  <div class="o-grid__column o-grid__column--space o-grid__column-3 u-background-base u-color-opposite">
    <div class="u-padding-1">1</div>
  </div>
  <div class="o-grid__column o-grid__column--space o-grid__column-3 u-background-base u-color-opposite">
    <div class="u-padding-1">1</div>
  </div>
</div>
</code>
</pre>
</div>
