<ul class="o-grid">
  <li class="o-grid__column">
    <h1 class="c-heading-1">h1</h1>
  </li>
  <li class="o-grid__column">
    <h2 class="c-heading-2">h2</h2>
  </li>
  <li class="o-grid__column">
    <h3 class="c-heading-3">h3</h3>
  </li>
  <li class="o-grid__column">
    <h4 class="c-heading-4">h4</h4>
  </li>
  <li class="o-grid__column">
    <h5 class="c-heading-5">h5</h5>
  </li>
  <li class="o-grid__column">
    <h6 class="c-heading-6">h6</h6>
  </li>
</ul>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner"><h1 class="c-heading-1">Heading</h1>
<h2 class="c-heading-2">Heading</h2>
<h3 class="c-heading-3">Heading</h3>
<h4 class="c-heading-4">Heading</h4>
<h5 class="c-heading-5">Heading</h5>
<h6 class="c-heading-6">Heading</h6></code>
</pre>
</div>

