<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <input type="text" class="c-input" placeholder="INPUT" />
  </div>
  <div class="o-grid__column o-grid__column--space">
    <input type="text" class="c-input c-input--disabled" placeholder="INPUT DISABLED" />
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <input type="text" class="c-input" placeholder="INPUT" />
  </div>
  <div class="o-grid__column o-grid__column--space">
    <input type="text" class="c-input c-input--disabled" placeholder="INPUT DISABLED" />
  </div>
</div>
</code>
</pre>
</div>
