<ul class="o-inline-list">
  <li class="o-inline-list__item">
    <a href="" class="c-link">Link</a>
  </li>
  <li class="o-inline-list__item">
    <a href="" class="c-link c-link--disabled">Link disabled</a>
  </li>
</ul>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<ul class="o-inline-list">
  <li class="o-inline-list__item">
    <a href="" class="c-link">Link</a>
  </li>
  <li class="o-inline-list__item">
    <a href="" class="c-link c-link--disabled">Link disabled</a>
  </li>
</ul>
</code>
</pre>
</div>
