<ul class="c-list">
  <li class="c-list__item">Suspendisse rhoncus ligula at justo rutrum, quis consectetur metus ornare.</li>
  <li class="c-list__item">Proin sit amet sapien sagittis orci interdum eleifend.</li>
  <li class="c-list__item">
    Nunc facilisis enim quis odio tempor, eget dignissim elit sodales.
    <ul class="c-list">
      <li class="c-list__item">Ut vitae ex ullamcorper, pulvinar lorem porttitor, bibendum dolor.</li>
      <li class="c-list__item">Ut euismod leo ultrices rutrum venenatis.</li>
    </ul>
  </li>
  <li class="c-list__item">Aenean placerat tortor ut ante condimentum scelerisque.</li>
</ul>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<ul class="c-list">
  <li class="c-list__item">Suspendisse rhoncus ligula at justo rutrum, quis consectetur metus ornare.</li>
  <li class="c-list__item">Proin sit amet sapien sagittis orci interdum eleifend.</li>
  <li class="c-list__item">
    Nunc facilisis enim quis odio tempor, eget dignissim elit sodales.
    <ul class="c-list">
      <li class="c-list__item">Ut vitae ex ullamcorper, pulvinar lorem porttitor, bibendum dolor.</li>
      <li class="c-list__item">Ut euismod leo ultrices rutrum venenatis.</li>
    </ul>
  </li>
  <li class="c-list__item">Aenean placerat tortor ut ante condimentum scelerisque.</li>
</ul>
</code>
</pre>
</div>
