<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <div class="c-loader c-loader--small"></div>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <div class="c-loader"></div>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <div class="c-loader c-loader--large"></div>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <div class="c-loader c-loader--small"></div>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <div class="c-loader"></div>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <div class="c-loader c-loader--large"></div>
  </div>
</div>
</code>
</pre>
</div>
