<div>
  <div class="o-media-card c-media-card">
    <div class="o-media-card__thumb">
      <figure class="c-avator">
        <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
      </figure>
    </div>
    <div class="o-media-card__main">
      <div class="o-media-card__head">
        <h6 class="c-heading-6">HEADING</h6>
      </div>
      <div class="o-media-card__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim justo nisi. Duis varius ex libero, quis lacinia tortor luctus eu.</p>
      </div>
    </div>
  </div>
</div>
<div class="u-margin-top-1">
  <div class="o-grid o-grid--space">
    <div class="o-grid__column o-grid__column--space">
      <div class="o-media-card o-media-card--stack c-media-card">
        <div class="o-media-card__main">
          <div class="o-media-card__head">
            <h6 class="c-heading-6">HEADING</h6>
          </div>
          <figure>
            <img src="https://dummyimage.com/300x50/000/fff" alt="dummy" class="c-image c-image--full-width" />
          </figure>
          <div class="o-media-card__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim justo nisi. Duis varius ex libero, quis lacinia tortor luctus eu.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="o-grid__column o-grid__column--space">
      <div class="o-media-card o-media-card--stack c-media-card">
        <figure>
          <img src="https://dummyimage.com/300x50/000/fff" alt="dummy" class="c-image c-image--full-width" />
        </figure>
        <div class="o-media-card__main">
          <div class="o-media-card__head">
            <h6 class="c-heading-6">HEADING</h6>
          </div>
          <div class="o-media-card__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim justo nisi. Duis varius ex libero, quis lacinia tortor luctus eu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div>
  <div class="o-media-card c-media-card">
    <div class="o-media-card__thumb">
      <figure class="c-avator">
        <img src="https://dummyimage.com/200x200/000/fff" alt="dummy" class="c-avator__image" />
      </figure>
    </div>
    <div class="o-media-card__main">
      <div class="o-media-card__head">
        <h6 class="c-heading-6">HEADING</h6>
      </div>
      <div class="o-media-card__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim justo nisi. Duis varius ex libero, quis lacinia tortor luctus eu.</p>
      </div>
    </div>
  </div>
</div>
<div class="u-margin-top-1">
  <div class="o-grid o-grid--space">
    <div class="o-grid__column o-grid__column--space">
      <div class="o-media-card o-media-card--stack c-media-card">
        <div class="o-media-card__main">
          <div class="o-media-card__head">
            <h6 class="c-heading-6">HEADING</h6>
          </div>
          <figure>
            <img src="https://dummyimage.com/300x50/000/fff" alt="dummy" class="c-image c-image--full-width" />
          </figure>
          <div class="o-media-card__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim justo nisi. Duis varius ex libero, quis lacinia tortor luctus eu.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="o-grid__column o-grid__column--space">
      <div class="o-media-card o-media-card--stack c-media-card">
        <figure>
          <img src="https://dummyimage.com/300x50/000/fff" alt="dummy" class="c-image c-image--full-width" />
        </figure>
        <div class="o-media-card__main">
          <div class="o-media-card__head">
            <h6 class="c-heading-6">HEADING</h6>
          </div>
          <div class="o-media-card__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim justo nisi. Duis varius ex libero, quis lacinia tortor luctus eu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</code>
</pre>
</div>
