<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <ul class="c-menu">
      <li class="c-menu__item">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
    </ul>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <ul class="c-menu">
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
    </ul>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <ul class="c-menu c-menu--frame">
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
    </ul>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <ul class="c-menu">
      <li class="c-menu__item">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
    </ul>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <ul class="c-menu">
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
    </ul>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <ul class="c-menu c-menu--frame">
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
      <li class="c-menu__item c-menu__item--underline">
        <span class="c-menu__inner">MENU ITEM</span>
      </li>
    </ul>
  </div>
</div>
</code>
</pre>
</div>
