<div>
  <div class="c-note">
    <h1 class="c-note__head c-heading-4">Integer volutpat sagittis metus, a efficitur turpis pretium in.</h1>
    <p class="c-note__body">Duis consequat turpis quis elit tristique, et egestas odio luctus. Aliquam auctor volutpat commodo. In lobortis mollis hendrerit. Duis id tristique augue. Nullam condimentum iaculis finibus. Donec sed dolor metus.</p>
  </div>
</div>
<div class="u-margin-top-1">
  <div class="c-note">
    <p class="c-note__body">Duis consequat turpis quis elit tristique, et egestas odio luctus. Aliquam auctor volutpat commodo. In lobortis mollis hendrerit. Duis id tristique augue. Nullam condimentum iaculis finibus. Donec sed dolor metus.</p>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div>
  <div class="c-note">
    <h1 class="c-note__head c-heading-4">Integer volutpat sagittis metus, a efficitur turpis pretium in.</h1>
    <p class="c-note__body">Duis consequat turpis quis elit tristique, et egestas odio luctus. Aliquam auctor volutpat commodo. In lobortis mollis hendrerit. Duis id tristique augue. Nullam condimentum iaculis finibus. Donec sed dolor metus.</p>
  </div>
</div>
<div class="u-margin-top-1">
  <div class="c-note">
    <p class="c-note__body">Duis consequat turpis quis elit tristique, et egestas odio luctus. Aliquam auctor volutpat commodo. In lobortis mollis hendrerit. Duis id tristique augue. Nullam condimentum iaculis finibus. Donec sed dolor metus.</p>
  </div>
</div>
</code>
</pre>
</div>
