<div class="c-pagination c-pagination--center">
  <a href="" class="c-pagination__controller c-pagination__controller--disabled">Prev</a>
  <ol class="c-pagination__list u-display-none--small">
    <li class="c-pagination__item">
      <span class="c-pagination__link c-pagination__link--current">1</span>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">2</a>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">3</a>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">4</a>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">5</a>
    </li>
  </ol>
  <a href="" class="c-pagination__controller">Next</a>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="c-pagination">
  <a href="" class="c-pagination__controller c-pagination__controller--disabled">Prev</a>
  <ol class="c-pagination__list u-display-none--small">
    <li class="c-pagination__item">
      <span class="c-pagination__link c-pagination__link--current">1</span>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">2</a>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">3</a>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">4</a>
    </li>
    <li class="c-pagination__item">
      <a href="" class="c-pagination__link">5</a>
    </li>
  </ol>
  <a href="" class="c-pagination__controller">Next</a>
</div>
</code>
</pre>
</div>
