<blockquote class="c-quote">
  <span class="c-quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</span>
  <cite class="c-quote__citation">source</cite>
</blockquote>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<blockquote class="c-quote">
  <span class="c-quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</span>
  <cite class="c-quote__citation">source</cite>
</blockquote>
</code>
</pre>
</div>
