<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <label class="c-radio">
      <input type="radio" class="c-radio__input" />
      <span class="c-radio__check"></span>
      <span class="c-radio__label">RADIO</span>
    </label>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <label class="c-radio c-radio--disabled">
      <input type="radio" class="c-radio__input" disabled />
      <span class="c-radio__check"></span>
      <span class="c-radio__label">RADIO</span>
    </label>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <label class="c-radio">
      <input type="radio" class="c-radio__input" />
      <span class="c-radio__check"></span>
      <span class="c-radio__label">RADIO</span>
    </label>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <label class="c-radio c-radio--disabled">
      <input type="radio" class="c-radio__input" disabled />
      <span class="c-radio__check"></span>
      <span class="c-radio__label">RADIO</span>
    </label>
  </div>
</div>
</code>
</pre>
</div>
