<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <label class="c-selectbox">
      <select class="c-selectbox__select">
        <option>SELECTBOX OPTION 1</option>
        <option>SELECTBOX OPTION 2</option>
        <option>SELECTBOX OPTION 3</option>
      </select>
    </label>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <label class="c-selectbox c-selectbox--disabled">
      <select class="c-selectbox__select c-selectbox__select--disabled">
        <option>SELECTBOX OPTION 1</option>
        <option>SELECTBOX OPTION 2</option>
        <option>SELECTBOX OPTION 3</option>
      </select>
    </label>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <label class="c-selectbox">
      <select class="c-selectbox__select">
        <option>SELECTBOX OPTION 1</option>
        <option>SELECTBOX OPTION 2</option>
        <option>SELECTBOX OPTION 3</option>
      </select>
    </label>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <label class="c-selectbox c-selectbox--disabled">
      <select class="c-selectbox__select c-selectbox__select--disabled">
        <option>SELECTBOX OPTION 1</option>
        <option>SELECTBOX OPTION 2</option>
        <option>SELECTBOX OPTION 3</option>
      </select>
    </label>
  </div>
</div>
</code>
</pre>
</div>
