<table class="c-table">
  <thead>
    <tr>
      <th class="c-table__head">Thead</th>
      <th class="c-table__head">Thead</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="c-table__data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td class="c-table__data">Mauris eu magna at diam viverra tristique vel interdum metus.</td>
    </tr>
    <tr>
      <td class="c-table__data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td class="c-table__data">Mauris eu magna at diam viverra tristique vel interdum metus.</td>
    </tr>
    <tr>
      <td class="c-table__data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td class="c-table__data">Mauris eu magna at diam viverra tristique vel interdum metus.</td>
    </tr>
  </tbody>
</table>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<table class="c-table">
  <thead>
    <tr>
      <th class="c-table__head">Thead</th>
      <th class="c-table__head">Thead</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="c-table__data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td class="c-table__data">Mauris eu magna at diam viverra tristique vel interdum metus.</td>
    </tr>
    <tr>
      <td class="c-table__data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td class="c-table__data">Mauris eu magna at diam viverra tristique vel interdum metus.</td>
    </tr>
    <tr>
      <td class="c-table__data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td class="c-table__data">Mauris eu magna at diam viverra tristique vel interdum metus.</td>
    </tr>
  </tbody>
</table>
</code>
</pre>
</div>
