<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--primary">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--secondary">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--reverse">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--disabled">TAG</span>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--primary">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--secondary">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--reverse">TAG</span>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <span class="c-tag c-tag--disabled">TAG</span>
  </div>
</div>
</code>
</pre>
</div>
