<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <textarea class="c-textarea" placeholder="TEXTAREA"></textarea>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <textarea class="c-textarea c-textarea--disabled" placeholder="TEXTAREA DISABLED"></textarea>
  </div>
</div>

<div class="u-padding-top-1">
<pre class="c-code">
<code class="c-code__inner">
<div class="o-grid o-grid--space">
  <div class="o-grid__column o-grid__column--space">
    <textarea class="c-textarea" placeholder="TEXTAREA"></textarea>
  </div>
  <div class="o-grid__column o-grid__column--space">
    <textarea class="c-textarea c-textarea--disabled" placeholder="TEXTAREA DISABLED"></textarea>
  </div>
</div>
</code>
</pre>
</div>
