<table class="c-table">
  <thead>
    <tr>
      <th class="c-table__head">Class</th>
      <th class="c-table__head">Style</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-align-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">text-align: *</code>
        <code class="c-code__inner">vertical-align: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-background-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">background-color: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-clearfix</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">clearfix</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-color-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">color: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-display-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">display: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-flex-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">flex-wrap: *</code>
        <code class="c-code__inner">justify-content: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-float-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">float: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-font-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">font-weight: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-margin-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">margin: *</code>
        <code class="c-code__inner">margin-top: *</code>
        <code class="c-code__inner">margin-right: *</code>
        <code class="c-code__inner">margin-bottom: *</code>
        <code class="c-code__inner">margin-left: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-padding-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">padding: *</code>
        <code class="c-code__inner">padding-top: *</code>
        <code class="c-code__inner">padding-right: *</code>
        <code class="c-code__inner">padding-bottom: *</code>
        <code class="c-code__inner">padding-left: *</code>
      </td>
    </tr>
    <tr>
      <td class="c-table__data">
        <code class="c-code__inner">u-position-*</code>
      </td>
      <td class="c-table__data">
        <code class="c-code__inner">position: *</code>
      </td>
    </tr>
  </tbody>
</table>
