@charset "utf-8";

/*
@styleguide
@title SideNav

*/

.c-side-nav {
  background-color: $color_primary;
  word-wrap: break-word;

  &__head {
    padding: ($side_nav_space * 4) $side_nav_space;
    background-color: $color_base;
  }

  &__heading  {
    color: $color_primary;
  }

  &__head + &__body {
  }

  &__body {
  }

  &__list {
  }

  &__item {
  }

  &__item + &__item {
  }

  &__link {
    display: block;
    padding: $side_nav_space;
    background-color: $color_primary;
    color: $color_base_opposite;
    text-decoration: none;
    transition: all $side_nav_link_duration ease;

    &:hover {
      background-color: $color_base_opposite;
      color: $color_primary;
    }
  }
}
