@charset "utf-8";

.u-flex {

  &-wrap  {
    flex-wrap: wrap;
  }

  &-nowrap  {
    flex-wrap: nowrap;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }
}
